body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  word-break: break-all;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#game-board {
  background-color: gray;
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}

.snake {
  background-color: rgb(10, 143, 50);
  border: 0.25vmin solid black;
}

.food {
  background-color: rgb(255, 0, 0);
  border: 0.25vmin solid black;
}

.icon {
  position: absolute;
  top: 10px;
  right: 220px;
  color: white;
  font-size: 50px;
  transform: rotate(45deg);
  text-decoration: none;
}

.icon:hover {
  color: gray;
  cursor: pointer;
}

/* options */

.contentBox {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 130px;
  width: 200px;
  height: 200px;
  background-color: gainsboro;
  text-align: center;
}

.contentBox .options {
  display: inline-block;
  list-style: none;
}

.closeOptions {
  font-size: large;
  cursor: pointer;
  color: red;
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
}

.closeOptions:hover {
  color: grey;
}

.contentBox .options > li {
  margin-top: 10px;
  background-color: blue;
  cursor: pointer;
  border-radius: 5px;
  font-size: larger;
  color: white;
  box-shadow: 3px 2px 3px gray;
}

.contentBox .options > li:hover {
  background: rebeccapurple;
  color: aliceblue;
  box-shadow: 3px 4px 5px black;
}

.contentBox button {
  display: inline-block;
  width: 60%;
  margin-top: 30px;
  background: yellow;
  color: black;
  border-radius: 3px;
  border: 1px solid black;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 3px 2px 3px gray;
}

.contentBox button:hover {
  background: green;
  color: white;
  box-shadow: 3px 2px 3px black;
}

.taggle-thing {
  display: none;
  width: 45px;
  position: absolute;
  top: 6px;
  left: 50px;
  cursor: pointer;
}

.taggle-thing:hover {
  box-shadow: 2px 2px 2px grey;
}

.taggle-thing > span:hover {
  box-shadow: 2px 2px 2px gray;
}

.taggle-thing > span {
  background: wheat;
  width: 45px;
  height: 4px;
  display: block;
  margin-top: 4px;
  cursor: pointer;
}

.info {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 330px;
  height: 250px;
  margin-top: 80px;
  background: gainsboro;
  display: none;
}

.info > p {
  word-break: break-word;
  margin-top: 10px;
  margin-left: 10px;
}

.info .important {
  color: rgb(255, 115, 0);
}

.closeHelp {
  font-size: large;
  cursor: pointer;
  color: red;
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
}

.closeHelp:hover {
  color: grey;
}

@media (max-width: 360px) {
  .taggle-thing {
    left: 5px;
    top: 20px;
  }

  .icon {
    right: 10px;
  }

  .contentBox {
    left: 20px;
  }
}

@media (max-width: 550px) {
  .icon {
    top: -15px;
    right: 0;
  }

  .taggle-thing {
    left: 5px;
    top: 0;
  }
}

@media (max-width: 1100px) {
  .icon {
    top: -15px;
    right: 0;
  }

  .taggle-thing {
    left: 5px;
    top: 0;
  }
}
